<?php

define('DB_HOST', '127.0.0.1');
define('DB_NAME', 'influxdata');
define('DB_USER', 'root');
define('DB_PASS', '<<password>>');

//prefix influx tables - prevents myinfluxdb modifying non-influx tables
define('MYIF_TABLE_PREFIX','i_');

//logging
define('MYIF_LOG_TABLE','log_influx_write'); //table name is used as-is without prefix
define('MYIF_LOG_DAYS','30'); //number of days to keep in log - set to 0 to disable
 
